




@media  (max-width: 978px) {
    .cards{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .card{
        display: flex;
        justify-content: center;
        text-align:center;
        position: relative;
       
    }
    
}
